@charset "UTF-8";
/* шрифты */
/* font-family: 'Open Sans', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
/* font-family: 'Banny'; */
@font-face {
  font-family: "Banny";
  src: url("../fonts/Banny/Banny-Round.eot");
  src: url("../fonts/Banny/Banny-Round.eot?#iefix") format("embedded-opentype"), url("../fonts/Banny/Banny-Round.woff") format("woff"), url("../fonts/Banny/Banny-Round.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* обнуление */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

nav,
header,
footer,
aside {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  line-height: 1;
  -webkit-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* ------------- */
body {
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 580px) {
  body.lock {
    overflow: hidden;
  }
}

.container {
  width: 100%;
  max-width: 1310px;
  margin: 0 auto;
  padding: 50px 15px;
}

@media (max-width: 580px) {
  .container {
    padding: 20px 10px;
  }
}

/* ===================== header ===================== */
.header {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.header.fixed {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px 10px #707070;
          box-shadow: 0 1px 10px #707070;
}

.header.fixed::before {
  display: none;
}

@media (max-width: 580px) {
  .header.fixed {
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.header::before {
  content: url(../image/header/Vector.svg);
  position: absolute;
  top: 25px;
  left: 50%;
  z-index: 3;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 1130px) {
  .header::before {
    top: 70px;
  }
}

@media (max-width: 580px) {
  .header::before {
    top: 30px;
  }
}

.header__inner {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.header__nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 580px) {
  .header__nav {
    width: 150px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    padding: 15px;
    display: block;
    overflow: auto;
    -webkit-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
    background-color: rgba(0, 0, 0, 0.75);
  }
  .header__nav.active {
    left: 0;
  }
}

.header__item {
  width: 100%;
  max-width: 532px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

@media (max-width: 580px) {
  .header__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.header__link {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

.header__link:hover {
  color: #e8c300;
}

.header__link.active {
  color: #e8c300;
  text-decoration: underline;
}

@media (max-width: 580px) {
  .header__link {
    margin: 15px 0;
    font-size: 15px;
  }
}

@media (max-width: 580px) {
  .burger {
    width: 30px;
    height: 30px;
    padding: 5px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 5;
    cursor: pointer;
    border: 0;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.25);
  }
  .burger span {
    width: 20px;
    height: 2px;
    font-size: 10px;
    display: block;
    background-color: #e8c300;
    border-radius: 5px;
    -webkit-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
  }
  .burger.active span:nth-child(2) {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .burger.active span:nth-child(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    position: relative;
    top: 7px;
  }
  .burger.active span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    position: relative;
    bottom: 7px;
  }
}

/* ===================== header end ================= */
/* ===================== intro ===================== */
.intro {
  width: 100%;
  padding: 325px 0 80px;
  background-color: #52531b;
  background-image: url(../image/intro/header-bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .intro {
    height: 100%;
  }
}

@media (max-width: 580px) {
  .intro {
    padding-top: 300px;
  }
}

.intro::before, .intro::after {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  top: 100px;
  background-color: rgba(255, 255, 255, 0.2);
}

@media (max-width: 580px) {
  .intro::before, .intro::after {
    top: 0;
    height: 250%;
  }
}

.intro::before {
  left: 23%;
}

.intro::after {
  right: 23%;
}

.intro__inner {
  width: 100%;
  max-width: 1310px;
  margin: 0 auto;
}

@media (max-width: 380px) {
  .intro__inner {
    padding: 0 5px;
  }
}

.intro__upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 605px) {
  .intro__upper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.intro__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro__column_1 {
  width: 100%;
  max-width: 80px;
  position: relative;
}

.intro__column_2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__column_3 {
  width: 100%;
  max-width: 80px;
  padding-right: -10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 605px) {
  .intro__column_1, .intro__column_3 {
    max-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .intro__column_3 {
    margin-top: 40px;
  }
}

.intro__schedule {
  width: 260px;
  position: absolute;
  top: 240px;
  left: 12px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

@media (max-width: 605px) {
  .intro__schedule {
    position: relative;
    top: -50px;
    left: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.intro__title {
  font-family: "Banny";
  font-size: 96px;
  line-height: 1.45;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 1100px) {
  .intro__title {
    font-size: 8.7vw;
  }
}

.intro__title::after {
  content: "";
  display: block;
  width: 60px;
  height: 5px;
  margin: 0 auto 30px;
  background: #e8c300;
  border-radius: 50px;
}

.intro__buttons {
  width: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* @media (max-width: 380px) {
			width: 100%;
		} */
}

@media (max-width: 580px) {
  .intro__buttons {
    width: 75.8vw;
  }
}

.intro__button {
  width: 200px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

@media (max-width: 580px) {
  .intro__button {
    width: 34.5vw;
    height: 10.3vw;
  }
}

.intro__button:hover {
  background-color: #e8c300;
}

.intro__link {
  width: 60px;
  height: 60px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.intro__link:hover {
  -webkit-box-shadow: 0 0 2px white;
          box-shadow: 0 0 2px white;
}

.intro__down-btn {
  width: 60px;
  height: 60px;
  margin: 80px auto 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

@media (max-width: 580px) {
  .intro__down-btn {
    margin-top: 40px;
  }
}

.intro__down-btn:hover {
  -webkit-box-shadow: 0 0 2px white;
          box-shadow: 0 0 2px white;
}

.intro__down-btn::before {
  content: "";
  width: 1px;
  height: 800%;
  position: absolute;
  bottom: 58px;
  left: 50%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.2);
}

.intro__down-btn::after {
  content: "";
  width: 1px;
  height: 80px;
  position: absolute;
  bottom: -80px;
  left: 50%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.2);
}

.intro__down-btn a {
  width: 40px;
  height: 40px;
  display: block;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  background-color: white;
}

.fa-angle-down {
  color: #333333;
}

/* ===================== intro end ================= */
/* ===================== about ===================== */
.about__title, .about__subtitle, .about__text {
  color: #000000;
}

/* ===================== about end ================= */
/* ===================== team ===================== */
.team {
  position: relative;
  background-color: #52531b;
  background-image: url(../image/team/1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.team::after {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}

.team__title, .team__subtitle, .team__text {
  color: #ffffff;
}

.line::before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 23%;
  background-color: rgba(255, 255, 255, 0.2);
}

.line::after {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 23%;
  background-color: rgba(255, 255, 255, 0.2);
}

/* ===================== team end ================= */
/* ===================== book ===================== */
.book__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.book__form button {
  width: 100%;
  max-width: 564px;
  height: 60px;
  margin: 5px 0 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  background-color: #e8c300;
  border-radius: 5px;
}

.book__form button:hover {
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(232, 193, 0, 0.726);
}

@media (min-width: 910px) and (max-width: 1257px) {
  .book__form button {
    max-width: 277px;
  }
}

@media (max-width: 712px) {
  .book__form button {
    max-width: 277px;
  }
}

@media (max-width: 380px) {
  .book__form button {
    margin-bottom: 20px;
  }
}

.book__input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.book__input input {
  width: 277px;
  height: 60px;
  margin: 5px;
  padding: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: rgba(51, 51, 51, 0.5);
  background: #e5e5e5;
  border-radius: 5px;
}

@media (max-width: 580px) {
  .book__input input {
    margin: 5px 0;
  }
}

.book__schedule {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: rgba(51, 51, 51, 0.5);
  text-align: center;
  border-radius: 5px;
}

@media (max-width: 580px) {
  .book__schedule {
    font-size: 10px;
  }
}

/* ===================== book end ================= */
/* ===================== specialties ===================== */
.specialties {
  position: relative;
  background-color: #52531b;
  background-image: url(../image/specialties/1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.specialties::after {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}

.specialties__title, .specialties__subtitle, .specialties__text {
  color: #ffffff;
}

/* ===================== specialties end ================= */
/* ===================== menu ===================== */
.menu {
  padding: 50px 0;
}

@media (max-width: 580px) {
  .menu {
    padding: 0;
  }
}

.menu__content {
  text-align: center;
}

.menu__subtitle {
  max-width: 565px;
  margin: 20px auto 50px;
}

@media (max-width: 580px) {
  .menu__subtitle {
    max-width: 400px;
  }
}

.menu__tab {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__btn {
  width: 120px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: #333333;
  border-right: 1px solid rgba(51, 51, 51, 0.2);
  background-color: inherit;
}

@media (max-width: 580px) {
  .menu__btn {
    width: 60px;
    height: 30px;
    font-size: 10px;
  }
}

.menu__btn:last-child {
  border: none;
}

.menu__card {
  display: none;
  margin-top: -350px;
  padding-top: 350px;
}

.menu__card.active {
  display: block;
}

.menu__list {
  width: 100%;
  height: 462px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  overflow: auto;
}

.menu__list li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  margin-bottom: 30px;
}

@media (max-width: 1130px) {
  .menu__list li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (max-width: 790px) {
  .menu__list li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.menu__item {
  width: 100%;
  max-width: 370px;
  margin: 0 auto;
  font-family: Banny;
  font-size: 18px;
  line-height: 1;
  color: #333333;
  text-align: left;
}

@media (max-width: 400px) {
  .menu__item {
    max-width: 92.5vw;
    font-size: 4.5vw;
  }
}

.item-menu__name {
  vertical-align: top;
}

.item-menu__price {
  width: 110px;
  vertical-align: top;
}

@media (max-width: 400px) {
  .item-menu__price {
    width: 25vw;
  }
}

.item-menu__details {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  vertical-align: top;
}

@media (max-width: 400px) {
  .item-menu__details {
    font-size: 3vw;
  }
}

/* ===================== menu end ================= */
/* ===================== private ===================== */
.private {
  position: relative;
  background-color: #52531b;
  background-image: url(../image/private/1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.private::after {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}

.private__image-left img {
  position: relative;
  left: 80px;
  z-index: 0;
}

@media (min-width: 910px) and (max-width: 1350px) {
  .private__image-left img {
    left: 5.9vw;
  }
}

@media (max-width: 780px) {
  .private__image-left img {
    left: 10.3vw;
  }
}

.private__image-right img {
  position: relative;
  right: 80px;
  z-index: 0;
}

@media (min-width: 910px) and (max-width: 1350px) {
  .private__image-right img {
    right: 5.9vw;
  }
}

@media (max-width: 780px) {
  .private__image-right img {
    right: 10.3vw;
  }
}

.private__title {
  width: 80px;
  height: 100%;
  max-height: 475px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  font-family: Banny;
  font-size: 24px;
  line-height: 12px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
}

@media (min-width: 910px) and (max-width: 1350px) {
  .private__title {
    width: 5.9vw;
    height: 35.2vw;
    font-size: 1.8vw;
  }
}

@media (max-width: 780px) {
  .private__title {
    width: 10.3vw;
    height: 61vw;
    font-size: 3.1vw;
  }
}

.private__title_l {
  padding-top: 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  border-radius: 0 5px 5px 0;
}

.private__title_r {
  padding-bottom: 20px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  border-radius: 5px 0 0 5px;
}

.private__title_r span {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.private__schedule {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 580px) {
  .private__schedule {
    font-size: 10px;
  }
}

/* ===================== private end ================= */
/* ===================== galerie ===================== */
.galerie {
  width: 100%;
}

.galerie__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 380px) {
  .galerie__images {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.galerie__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 380px) {
  .galerie__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}

.galerie__item img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

/* ===================== galerie end ================= */
/* ===================== contact ===================== */
.contact {
  padding: 50px 0;
}

@media (max-width: 580px) {
  .contact {
    padding: 0;
  }
}

.contact__form {
  width: 100%;
}

@media (max-width: 970px) {
  .contact__form {
    width: 80%;
    margin: 0 auto;
  }
}

.contact__input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__input input {
  width: 420px;
  height: 60px;
  padding: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: rgba(51, 51, 51, 0.5);
  background: #e5e5e5;
  border-radius: 5px;
}

@media (max-width: 1310px) {
  .contact__input input {
    width: 32vw;
  }
}

@media (max-width: 970px) {
  .contact__input input {
    width: 100%;
    margin: 5px 0;
  }
}

.contact__input textarea {
  width: 100%;
  height: 120px;
  margin: 10px 0;
  padding: 20px;
  resize: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: rgba(51, 51, 51, 0.5);
  background: #e5e5e5;
  border-radius: 5px;
}

@media (max-width: 970px) {
  .contact__input textarea {
    margin: 5px 0;
  }
}

.contact__down {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__data {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1250px) {
  .contact__data {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 800px) {
  .contact__data {
    margin: 5px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.contact__data span {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color: rgba(51, 51, 51, 0.5);
}

@media (max-width: 800px) {
  .contact__data span {
    line-height: 1.6;
  }
}

.contact__data .fas {
  padding: 0 10px;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 14px;
  color: #e8c300;
}

.contact__btn {
  width: 50%;
}

@media (max-width: 1250px) {
  .contact__btn {
    width: 100%;
    margin-top: 10px;
  }
}

.contact__btn button {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  background: #e8c300;
  border-radius: 5px;
}

.contact__btn button:hover {
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(232, 193, 0, 0.726);
}

/* ===================== contact end ================= */
/* ===================== map ===================== */
.map {
  width: 100%;
}

.map__images img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* ===================== map end ================= */
/* ===================== footer ===================== */
.footer {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
}

.footer__copy {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: rgba(255, 255, 255, 0.5);
}

/* ===================== footer end ================= */
.section__title {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.inner {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 910px) {
  .inner {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.item {
  width: 50%;
  padding: 0 20px;
  text-align: center;
}

@media (max-width: 910px) {
  .item {
    width: 90%;
    padding: 20px;
  }
}

.title {
  font-family: "Banny";
  font-size: 36px;
  line-height: 48px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .title {
    font-size: 30px;
  }
}

@media (max-width: 580px) {
  .title {
    font-size: 22px;
  }
}

.title::after {
  content: "";
  display: block;
  width: 60px;
  height: 5px;
  margin: 6px auto 10px;
  background: #e8c300;
  border-radius: 50px;
}

.subtitle {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}

@media (max-width: 580px) {
  .subtitle {
    font-size: 12px;
    line-height: 18px;
  }
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

@media (max-width: 580px) {
  .text {
    font-size: 10px;
    line-height: 16px;
  }
}

.image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.image img {
  max-width: 100%;
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

@media (min-width: 910px) and (max-width: 1350px) {
  .image img {
    width: 35.2vw;
    height: 35.2vw;
  }
}

@media (max-width: 780px) {
  .image img {
    width: 61vw;
    height: 61vw;
  }
}

.image::after {
  content: "";
  position: absolute;
  width: 250px;
  height: 250px;
  top: 50%;
  z-index: 1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 20px solid #e8c300;
  -webkit-box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 0.5), 0px 0px 100px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 0.5), 0px 0px 100px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

@media (min-width: 910px) and (max-width: 1350px) {
  .image::after {
    width: 18.5vw;
    height: 18.5vw;
    border-width: 1.5vw;
  }
}

@media (max-width: 780px) {
  .image::after {
    width: 32vw;
    height: 32vw;
    border-width: 2.2vw;
  }
}

.image_left {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.image_left::after {
  right: 350px;
}

@media (min-width: 910px) and (max-width: 1350px) {
  .image_left::after {
    right: 26vw;
  }
}

@media (max-width: 780px) {
  .image_left::after {
    right: 45vw;
  }
}

.image_right {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.image_right::after {
  left: 350px;
}

@media (min-width: 910px) and (max-width: 1350px) {
  .image_right::after {
    left: 26vw;
  }
}

@media (max-width: 780px) {
  .image_right::after {
    left: 45vw;
  }
}
