/* ===================== book-page ===================== */
.book-page {
	&__form {
		width: 100%;
		max-width: 580px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		button {
			width: 100%;
			max-width: 564px;
			height: 60px;
			margin: 5px 0 0;

			font-style: normal;
			font-weight: bold;
			font-size: 12px;
			line-height: 20px;
			color: #ffffff;

			background-color: #e8c300;
			border-radius: 5px;

			&:hover {
				box-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
				background-color: rgba(232, 193, 0, 0.726);
			}

			@media (max-width: 603px) {
				max-width: 277px;
			}

			@media (max-width: 380px) {
				margin-bottom: 20px;
			}
		}
	}

	&__inputs {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		input {
			width: 100%;
			max-width: 277px;
			height: 60px;
			margin: 5px;
			padding: 20px;

			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 19px;
			color: rgba(51, 51, 51, 0.5);

			background: #e5e5e5;

			border-radius: 5px;

			&:hover,
			&:focus {
				border: 1px inset rgba(51, 51, 51, 0.1);
			}
		}
	}

	&__schedule {
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 12px;
		color: rgba(51, 51, 51, 0.5);
		text-align: center;

		border-radius: 5px;

		@media (max-width: 580px) {
			font-size: 10px;
		}
	}
}
/* ===================== book-page end ================= */
