/* ===================== footer ===================== */
.footer {
	// .footer__inner

	&__inner {
		width: 100%;
	}

	// .footer__map

	&__map {
		img {
			width: 100%;
			max-width: 100%;
			height: auto;
			display: block;
		}
	}

	// .footer__copy

	&__copy {
		height: 100px;

		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 100px;
		
		color: rgba(255, 255, 255, 0.5);
		text-align: center;

		background-color: rgba(0, 0, 0, 0.9);

		@media (max-width: 1000px) {
			height: 10vw;
			line-height: 10vw;
		}
	}
}
/* ===================== footer end ================= */
