/* ===================== header ===================== */
.header {
	width: 100%;
	height: 100px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;

	&.fixed {
		width: 100%;
		height: 50px;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 3;

		background-color: rgba(0, 0, 0, 0.25);

		box-shadow: 0 1px 10px #707070;

		&::before {
			display: none;
		}

		@media (max-width: 580px) {
			background-color: transparent;

			box-shadow: none;
		}
	}

	&::before {
		content: url(../image/header/Vector.svg);
		position: absolute;
		top: 25px;
		left: 50%;
		z-index: 3;

		transform: translateX(-50%);

		@media (max-width: 1130px) {
			top: 70px;
		}

		@media (max-width: 580px) {
			top: 30px;
		}
	}

	&__inner {
		width: 100%;
		height: 100%;
		max-width: 1280px;
		margin: 0 auto;
	}

	&__nav {
		height: 100%;
		display: flex;
		justify-content: space-between;

		@media (max-width: 580px) {
			width: 90px;
			height: 100%;
			position: fixed;
			top: 0;
			left: -100%;
			padding: 15px;
			display: block;
			overflow: auto;

			transition: all 0.8s ease 0s;

			background-color: rgba(0, 0, 0, 0.25);

			&.active {
				left: 0;
			}
		}
	}

	&__item {
		width: 100%;
		max-width: 532px;

		display: flex;
		justify-content: space-around;
		align-items: center;

		border-bottom: 1px solid rgba(255, 255, 255, 0.2);

		@media (max-width: 580px) {
			flex-direction: column;
			align-items: start;
		}
	}

	&__link {
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 18px;
		color: #ffffff;

		&:hover {
			color: #e8c300;
		}

		&.active {
			color: #e8c300;
			text-decoration: underline;
		}

		@media (max-width: 580px) {
			padding-bottom: 10px;
		}
	}
}

@media (max-width: 580px) {
	.burger {
		width: 30px;
		height: 30px;
		padding: 5px 0;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		position: fixed;
		top: 15px;
		right: 15px;
		z-index: 5;

		cursor: pointer;

		border: 0;
		border-radius: 3px;

		background-color: rgba(0, 0, 0, 0.25);

		span {
			width: 20px;
			height: 2px;
			font-size: 10px;
			display: block;

			background-color: #e8c300;

			border-radius: 5px;

			transition: all 0.3s linear 0s;
		}

		&.active {
			span {
				&:nth-child(2) {
					transform: scale(0);
				}

				&:nth-child(1) {
					transform: rotate(45deg);
					position: relative;
					top: 7px;
				}

				&:nth-child(3) {
					transform: rotate(-45deg);
					position: relative;
					bottom: 7px;
				}
			}
		}
	}
}
/* ===================== header end ================= */
