/* ===================== page ===================== */
.page {
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	// .page__intro

	&__intro {
		width: 100%;

		background-color: rgb(82, 83, 27);
		background-image: url(../image/intro/bg_intro.jpg);
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		&::before {
			content: "";
			width: 1px;
			height: 90vh;
			position: absolute;
			bottom: 0;
			left: 23%;

			background-color: rgba(255, 255, 255, 0.2);
		}

		&::after {
			content: "";
			width: 1px;
			height: 90vh;
			position: absolute;
			bottom: 0;
			right: 23%;

			background-color: rgba(255, 255, 255, 0.2);
		}
	}

	// .page__about

	&__about {
	}

	// .page__team

	&__team {
		position: relative;

		background-color: rgb(82, 83, 27);
		background-image: url(../image/team/bg_team.jpg);
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		&::after {
			content: "";
			width: 1px;
			height: 100%;
			position: absolute;
			top: 0;
			left: 50%;

			background-color: rgba(255, 255, 255, 0.2);
		}
	}

	// .page__book

	&__book {
	}

	// .page__specialties

	&__specialties {
		position: relative;

		background-color: rgb(82, 83, 27);
		background-image: url(../image/specialties/bg_specialties.jpg);
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		&::after {
			content: "";
			width: 1px;
			height: 100%;
			position: absolute;
			top: 0;
			left: 50%;

			background-color: rgba(255, 255, 255, 0.2);
		}
	}

	// .page__menu

	&__menu {
	}

	// .page__private

	&__private {
		position: relative;

		background-color: rgb(82, 83, 27);
		background-image: url(../image/private/bg_private.jpg);
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		&::after {
			content: "";
			width: 1px;
			height: 100%;
			position: absolute;
			top: 0;
			left: 50%;

			background-color: rgba(255, 255, 255, 0.2);
		}
	}

	// .page__galerie

	&__galerie {
		width: 100%;
	}

	// .page__contact

	&__contact {
	}
}
/* ===================== page end ================= */
