/* ===================== private ===================== */
.private {
	position: relative;

	background-color: rgb(82, 83, 27);
	background-image: url(../image/private/1.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	&::after {
		content: "";
		width: 1px;
		height: 100%;
		position: absolute;
		top: 0;
		left: 50%;

		background-color: rgba(255, 255, 255, 0.2);
	}

	&__image-left {
		img {
			position: relative;
			left: 80px;
			z-index: 0;

			@media (min-width: 910px) and (max-width: 1350px) {
				left: 5.9vw;
			}

			@media (max-width: 780px) {
				left: 10.3vw;
			}
		}
	}

	&__image-right {
		img {
			position: relative;
			right: 80px;
			z-index: 0;

			@media (min-width: 910px) and (max-width: 1350px) {
				right: 5.9vw;
			}

			@media (max-width: 780px) {
				right: 10.3vw;
			}
		}
	}

	&__title {
		width: 80px;
		height: 100%;
		max-height: 475px;
		display: flex;
		align-items: center;
		z-index: 1;

		font-family: Banny;
		font-size: 24px;
		line-height: 12px;
		text-transform: uppercase;
		color: #ffffff;

		background-color: #000000;

		@media (min-width: 910px) and (max-width: 1350px) {
			width: 5.9vw;
			height: 35.2vw;

			font-size: 1.8vw;
		}

		@media (max-width: 780px) {
			width: 10.3vw;
			height: 61vw;

			font-size: 3.1vw;
		}

		&_l {
			padding-top: 20px;
			justify-content: flex-start;
			writing-mode: vertical-rl;

			border-radius: 0 5px 5px 0;
		}

		&_r {
			padding-bottom: 20px;
			justify-content: flex-end;
			writing-mode: vertical-rl;

			border-radius: 5px 0 0 5px;

			span {
				transform: rotate(180deg);
			}
		}
	}

	&__schedule {
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 12px;
		text-align: center;
		color: rgba(255, 255, 255, 0.5);

		@media (max-width: 580px) {
			font-size: 10px;
		}
	}
}
/* ===================== private end ================= */
