/* ===================== specialties-page ===================== */
.specialties-page {
	// .specialties-page__suptitle

	&__suptitle {
	}

	// .specialties-page__slider

	&__slider {
	}

	// .specialties-page__container

	&__container {
	}

	// .specialties-page__wrapper

	&__wrapper {
	}

	// .specialties-page__inner

	&__inner {
	}

	// .specialties-page__item

	&__item {
	}

	// .specialties-page__image

	&__image {
	}

	// .specialties-page__content

	&__content {
	}

	// .specialties-page__title

	&__title {
		color: #ffffff;
	}

	// .specialties-page__subtitle

	&__subtitle {
		color: #ffffff;
	}

	// .specialties-page__text

	&__text {
		color: #ffffff;
	}

	// .specialties-page__pagination

	&__pagination {
		&.swiper-pagination-bullets .swiper-pagination-bullet {
			margin: 0 10px;
		}

		& .swiper-pagination-bullet {
			width: 10px;
			height: 10px;

			opacity: 1;

			background-color: rgba(255, 255, 255, 0.5);
		}

		& .swiper-pagination-bullet-active {
			background-color: #fff;
		}
	}
}
/* ===================== specialties-page end ================= */
