/* ===================== team ===================== */
.team {
	position: relative;

	background-color: rgb(82, 83, 27);
	background-image: url(../image/team/1.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	&::after {
		content: "";
		width: 1px;
		height: 100%;
		position: absolute;
		top: 0;
		left: 50%;

		background-color: rgba(255, 255, 255, 0.2);
	}

	&__title,
	&__subtitle,
	&__text {
		color: #ffffff;
	}
}

.line {
	&::before {
		content: "";
		width: 1px;
		height: 100%;
		position: absolute;
		top: 0;
		left: 23%;

		background-color: rgba(255, 255, 255, 0.2);
	}

	&::after {
		content: "";
		width: 1px;
		height: 100%;
		position: absolute;
		top: 0;
		right: 23%;

		background-color: rgba(255, 255, 255, 0.2);
	}
}
/* ===================== team end ================= */
